# arquivos de compilação
bin/
obj/
*.user
*.suo

# Cache
.vs/
*.cache
.cache/

# Configurações do Visual Studio
.vs/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de log ou temporários
*.log
*.tmp   
