<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Guri_atacarejo.Properties.Settings.db_250405ConnectionString"
            connectionString="Data Source=172.16.255.252;Initial Catalog=db_250405;Persist Security Info=True;User ID=250405;Password=1234567;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>